<app-alert *ngIf="ShowDisclaimer" (close)="onDisclaimer()" style="position: center"></app-alert>
<p class="p1"><strong> *Please provide information on any potential customers that you know would be interested in being contacted by our sales team</strong></p>
<br>
<div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
        <form (ngSubmit)="onSubmit(f)" #f="ngForm">
          <div id="user-data">
              <div class="form-group">
                <label for="CompanyName">Customer Company Name</label>
                <input type="text" id="CompanyName" class="form-control" ngModel
                name="CompanyName" required>
              </div>
            <div class="form-group">
              <label for="ContactName">Contact Name</label>
              <input type="text" id="ContactName" class="form-control" ngModel
              name="ContactName" required>
            </div>
            <div class="form-group">
              <label for="CustomerPhone">Contact Phone</label>
              <input type="number" id="CustomerPhone" class="form-control" ngModel
              name="ContactPhone">
            </div>
            <div class="form-group">
              <label for="email">Contact Email</label>
              <input type="email" id="email" class="form-control" ngModel
              name="ContactEmail" email
              #email="ngModel" required>
              <span class="help-block" *ngIf="!email.valid && email.touched">Please enter a valid email!</span>
            </div>
            <div class="form-group">
              <label for="email">Description</label>
              <input type="text" maxlength="150" id="Description" class="form-control" ngModel
              name="Description">
            </div>
            <div class="form-group">
                  <div  selection-model
                  selection-model-type="'checkbox'"
                  selection-model-mode="'multiple-additive'"
                  selection-model-selected-class="'foobar'">
                    <input type="checkbox" name="Approve" (change)="approve = !approve" ngModel required> Approval (Customer agreed to be contacted by Dell Sales)<br>
                        <!-- <span class="focus-input100"></span> -->
                  </div>
                </div>
                <div class="form-group">
                  <div  selection-model
            selection-model-type="'checkbox'"
            selection-model-mode="'multiple-additive'"
            selection-model-selected-class="'foobar'">
              <input type="checkbox" name="Accept" (change)="Accept = !Accept" ngModel required> Accept <button class="ButtonLink" (click)=onView()> Terms and Conditions</button><br>
                  <!-- <span class="focus-input100"></span> -->
            </div>
            </div>

          </div>
          <br>

          <div class="submit">
            <button class="btn btn-primary" type="submit" [disabled]="!f.valid || !approve">Submit</button>
         </div>
         <div class="back">
            <button  class="btn btn-primary" (click)="onBackClick()">Back</button>
        </div>
        </form>
      </div>
    </div>
  </div>
