
     <div class="col-container">
        <div class="boxed">
            <h3 class="heading1"><strong>In this portal you can submit sales leads for customers in Egypt, share your connections and submit sales opportunities for new and existing customer.
              Sell BIG, Win BIG!</strong>
                </h3>
            <br>

        </div>
      </div>





            <div class="row text-center">

                <!-- <form action="/action_page.php">
                  <input type="image" src="submit.gif" alt="Submit">
                </form> -->
                    <div class="column" >


                    <div class="card">
                        <!-- <img class="card-img-top" src="assets/img/ContactInfo.png" alt="" height="357"> -->
                        <div class="card-body">
                            <a *ngIf="!userIsAuthenticated" routerLink="/login"><img class="card-img-top" src="assets/img/img1.png" alt="" style="width:100%;" width=100% height=100%>
                              <div class="text-block">
                                <p color="white">Do you have contacts within one of our customers that can be added to that customer contact list?</p>
                              </div>
                            </a>
                            <a *ngIf="userIsAuthenticated" routerLink="/ContactInfo"><img class="card-img-top" src="assets/img/img1.png" alt="" style="width:100%;" width=100% height=100%>
                              <div class="text-block">
                                <p color="white">Do you have contacts within one of our customers that can be added to that customer contact list?</p>
                              </div>
                            </a>
                            <!-- <a *ngIf="userIsAuthenticated" routerLink="/ContactInfo" class="btn btn-primary">Add connection info</a> -->
                        <!-- <p class="card-text">Do you have contacts within one of our customers that can be added to that customer contact list?</p> -->
                        </div>
                        <!-- <div class="card-footer"> -->
                        <!-- <a *ngIf="!userIsAuthenticated" routerLink="/login"><img class="card-img-top" src="assets/img/img1.png" alt="" style="width:100%;" width=100% height=100%>
                          <div class="text-block">
                            <p color="white">Do you have contacts within one of our customers that can be added to that customer contact list?</p>
                          </div>
                        </a>
                        <a *ngIf="userIsAuthenticated" routerLink="/ContactInfo" class="btn btn-primary">Add connection info</a> -->
                        <!-- </div> -->

                    </div>
                    </div>

                    <div class="column" >


                    <div class="card">

                        <div class="card-body">
                            <a *ngIf="!userIsAuthenticated" routerLink="/login" ><img class="card-img-top" src="assets/img/img2.png"  alt="" width=100% height=100%>
                            <div class="text-block">
                                <p color="white">Did you spot an opportunity with an existing customer? Do you know a potential customer that would be interested to be contacted by sales?</p>
                              </div>
                            </a>
                            <a *ngIf="userIsAuthenticated" routerLink="/Opportunities" ><img class="card-img-top" src="assets/img/img2.png"  alt="" width=100% height=100%>
                              <div class="text-block">
                                  <p color="white">Did you spot an opportunity with an existing customer? Do you know a potential customer that would be interested to be contacted by sales?</p>
                                </div>
                              </a>
                            <!-- <a *ngIf="userIsAuthenticated" routerLink="/Opportunities" class="btn btn-primary">Opportunities</a> -->
                        <!-- <br>
                        <br> -->
                        <!-- <p class="card-text">Did you spot an opportunity with an existing customer? Do you know a potential customer that would be interested to be contacted by sales?</p> -->
                        </div>
                        <!-- <br> -->
                        <!-- <div class="card-footer">
                            <a *ngIf="!userIsAuthenticated" routerLink="/login" class="btn btn-primary">Opportunities</a>
                            <a *ngIf="userIsAuthenticated" routerLink="/Opportunities" class="btn btn-primary">Opportunities</a>
                        </div> -->

                    </div>
                  </div>




        </div>

<!-- <div class="boxed2">
<div class="ContactInfo">
    <div class="button1">
            <button class="btn btn-primary" >Contact Info</button>
    </div>

</div>

<div class="NewCustomer">
        <div class="button2">
                <button class="btn btn-primary" >Contact Info</button>
        </div>

    </div> -->


